{layout name="layout" /}
		<div class="ny-banner color-495877" style="background-image: url({$solution.path});">
			<div class="core">
				<div class="banner-en font18 big-en">
					<i></i>
					<span>{$solution.entitle}</span>
				</div>

				<h3 class="font46 font-bold line-height-1em">{$solution.title}</h3>
			</div>
		</div>
		
		
		<div class="scene">
			<div class="index-tit">
				<h3>全场景应用</h3>
				<p>
					<i></i>
					<span>Full scene application</span>
					<i></i>
				</p>
			</div>
			
			<div class="scene-main">
				<div class="scene-section">
					<div class="core">
						<div class="scene-icon">
							<img src="__IMG_PATH__/solution/scene-icon1.png" alt="">
						</div>
						
						<div class="scene-text">
							<h3>医 疗 机 构</h3>
							<div class="scene-text-tit2">
								痛点及解决方案
							</div>
							<ul class="scene-text-list">
								<li>
									<h4><span>1</span>院感：据估算，我国每年医院感染及医源性感染增加费用90-150亿人民币。</h4>
									<div class="scene-text-p">
										<i></i>
										<p>
											使用闪测方舱实验室，提高突发公共卫生应急处置能力，同时可单独检测传染类疾病，降低院内感染风险。
										</p>
									</div>
								</li>
								<li>
									<h4><span>2</span>发热门诊&急诊患者多：发热门诊以及急诊因检测时间长，导致大量患者滞留，增加缓冲病房压力，且急诊患者需要快速诊断治疗。</h4>
									<div class="scene-text-p">
										<i></i>
										<p>
											Flash20&Gentier 48E相互搭配提高检测速度及检测量。
										</p>
									</div>
								</li>
								<li>
									<h4><span>3</span>检测能力受限：医改背景下，发展基层医疗和分级医疗体系，基层医生持续自我提升渠道少，技术水平参差不齐。</h4>
									<div class="scene-text-p">
										<i></i>
										<p>
											使用Flash20，操作简便，一学即会。
										</p>
									</div>
								</li>
								<li>
									<h4><span>4</span>基层医疗机构收费项目单一，医疗设备投入成本高，投入产出不合理。</h4>
									<div class="scene-text-p">
										<i></i>
										<p>
											一台仪器可以同时检测个体化用药、妇幼、肿瘤、呼吸道、手足口、HPV、流感等多个项目。
										</p>
									</div>
								</li>
							</ul>
							
							<a class="index-more" href=""><span>案例介绍</span><em></em></a>
						</div>
					</div>
				</div>
				
				<div class="scene-section">
					<div class="core">
						<div class="scene-icon">
							<img src="__IMG_PATH__/solution/scene-icon2.png" alt="">
						</div>
						
						<div class="scene-text">
							<h3>交 通 枢 纽</h3>
							<div class="scene-text-tit2">
								痛点及解决方案
							</div>
							<ul class="scene-text-list">
								<li>
									<h4><span>1</span>人员密集且流动性大、数量多，检测时间要求短，没有固定的检测实验室，缺乏技术人员。</h4>
									<div class="scene-text-p">
										<i></i>
										<p>
											使用闪测方舱移动实验室，可提升检测能力以及检测时间。1小时内出结果，日检测量1万管以上。 
										</p>
									</div>
								</li>
							</ul>
							
							<a class="index-more" href=""><span>案例介绍</span><em></em></a>
						</div>
					</div>
				</div>
				
				<div class="scene-section">
					<div class="core">
						<div class="scene-icon">
							<img src="__IMG_PATH__/solution/scene-icon3.png" alt="">
						</div>
						
						<div class="scene-text">
							<h3>重 大 赛 事</h3>
							<div class="scene-text-tit2">
								痛点及解决方案
							</div>
							<ul class="scene-text-list">
								<li>
									<h4><span>1</span>检测频次高：当天进场当天检/7day/14day检测</h4>
								</li>
								<li>
									<h4><span>2</span>人员复杂，检测量大，没有固定的检测实验室。</h4>
									<div class="scene-text-p">
										<i></i>
										<p>
											使用闪测方舱实验室，样本无需转运，快速核酸检测。可实现随到随检，1小时内出结果，日检测量1
											万管以上，提升检测能力以及检测时间。 
										</p>
									</div>
								</li>
							</ul>
							
							<a class="index-more" href=""><span>案例介绍</span><em></em></a>
						</div>
					</div>
				</div>
				
				<div class="scene-section">
					<div class="core">
						<div class="scene-icon">
							<img src="__IMG_PATH__/solution/scene-icon4.png" alt="">
						</div>
						
						<div class="scene-text">
							<h3>现 场 应 急</h3>
							<div class="scene-text-tit2">
								痛点及解决方案
							</div>
							<ul class="scene-text-list">
								<li>
									<h4><span>1</span>检测时间要求短</h4>
								</li>
								<li>
									<h4><span>2</span>检测地点不固定</h4>
									<div class="scene-text-p">
										<i></i>
										<p>
											使用闪测方舱实验室，触达即检，快速核酸检测。1小时内出结果，日检测量1万管以上，提升检测能力以及检测时间。
										</p>
									</div>
								</li>
							</ul>
							
							<a class="index-more" href=""><span>案例介绍</span><em></em></a>
						</div>
					</div>
				</div>
				
				<div class="scene-section">
					<div class="core">
						<div class="scene-icon">
							<img src="__IMG_PATH__/solution/scene-icon5.png" alt="">
						</div>
						
						<div class="scene-text">
							<h3>海 关 机 场 检 疫</h3>
							<div class="scene-text-tit2">
								痛点及解决方案
							</div>
							<ul class="scene-text-list">
								<li>
									<h4><span>1</span>境外输入风险高，灵敏度要求高</h4>
								</li>
								<li>
									<h4><span>2</span>人员密集，数量多，检测时间要求短</h4>
									<div class="scene-text-p">
										<i></i>
										<p>
											使用闪测方舱实验室，样本无需转运，快速核酸检测。可实现随到随检，1小时内出结果，日检测量1万管以上，提升检测能力以及检测时间。  
										</p>
									</div>
								</li>
							</ul>
							
							<a class="index-more" href=""><span>案例介绍</span><em></em></a>
						</div>
					</div>
				</div>
				
				<div class="scene-section">
					<div class="core">
						<div class="scene-icon">
							<img src="__IMG_PATH__/solution/scene-icon6.png" alt="">
						</div>
						
						<div class="scene-text">
							<h3>冷 链 食 品 检 测</h3>
							<div class="scene-text-tit2">
								痛点及解决方案
							</div>
							<ul class="scene-text-list">
								<li>
									<h4><span>1</span>食品来源途径广，检测时间要求短</h4>
								</li>
								<li>
									<h4><span>2</span>病毒载量低，灵敏度要求高，避免漏检</h4>
									<div class="scene-text-p">
										<i></i>
										<p>
											使用闪测方舱实验室，快速核酸检测， 可检测多种变异株病毒，样本1小时内可出结果。
										</p>
									</div>
								</li>
							</ul>
							
							<a class="index-more" href=""><span>案例介绍</span><em></em></a>
						</div>
					</div>
				</div>
				
				<div class="scene-section">
					<div class="core">
						<div class="scene-icon">
							<img src="__IMG_PATH__/solution/scene-icon7.png" alt="">
						</div>
						
						<div class="scene-text">
							<h3>环 境 检 测</h3>
							<div class="scene-text-tit2">
								痛点及解决方案
							</div>
							<ul class="scene-text-list">
								<li>
									<h4><span>1</span>病毒载量低，灵敏度要求高，避免漏检</h4>
								</li>
								<li>
									<h4><span>2</span>检测需求大</h4>
									<div class="scene-text-p">
										<i></i>
										<p>
											使用闪测方舱实验室，快速核酸检测，可检测多种变异株病毒，样本1小时内出结果。
										</p>
									</div>
								</li>
							</ul>
							
							<a class="index-more" href=""><span>案例介绍</span><em></em></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	 